
.icon-search:before { content: '\e800'; } /* '' */
.icon-down-big:before { content: '\e801'; } /* '' */
.icon-down-bold:before { content: '\e802'; } /* '' */
.icon-down-dir:before { content: '\e803'; } /* '' */
.icon-play:before { content: '\e804'; } /* '' */
.icon-pause:before { content: '\e805'; } /* '' */
.icon-stop:before { content: '\e806'; } /* '' */
.icon-volume-off:before { content: '\e807'; } /* '' */
.icon-volume-down:before { content: '\e808'; } /* '' */
.icon-volume-up:before { content: '\e809'; } /* '' */
.icon-down-circled:before { content: '\f0ab'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */